
<div class="mo-tags">
        {{#link class="mo-box-link" activeClass="mo-box-link-current" href="/portfolio" activeClass="mo-box-link-current"}}All Projects{{/link}}
        {{#link class="mo-box-link" activeClass="mo-box-link-current" href="/tag/creative-publishing" }}Creative Publishing{{/link}}
        {{#link class="mo-box-link" activeClass="mo-box-link-current" href="/tag/normal-publishing"}}Normal Publishing{{/link}}
        {{#link class="mo-box-link" activeClass="mo-box-link-current" href="/tag/interactive-experience"}}Interactive & Experiences{{/link}}
        {{#link class="mo-box-link" activeClass="mo-box-link-current" href="/tag/office-job"}}Office Jobs{{/link}}
        {{#link class="mo-box-link" activeClass="mo-box-link-current" href="/tag/advocacy-projects"}}Advocacy{{/link}}        
        {{#link class="mo-box-link" activeClass="mo-box-link-current" href="/tag/talks-media"}}Talks & Media{{/link}}        
        {{#link class="mo-box-link" activeClass="mo-box-link-current" href="/tag/technical-projects"}}Technical Projects{{/link}}        
        {{#link class="mo-box-link" activeClass="mo-box-link-current" href="/tag/event-planning"}}Event Planning{{/link}}
        {{#link class="mo-box-link" activeClass="mo-box-link-current" href="/tag/experiments-wips"}}Experiments & WIPs{{/link}}
</div>


