<div class="">
        {{#link href="/portfolio"}}<button type="button">All Projects</button>{{/link}}
        {{#link href="/tag/creative-publishing"}}<button type="button">Creative Publishing</button>{{/link}}
        {{#link href="/tag/normal-publishing"}}<button type="button">Normal Publishing</button>{{/link}}
        {{#link href="/tag/interactive-experience"}}<button type="button">Interactive & Experiences</button>{{/link}}
        {{#link href="/tag/office-job"}}<button type="button">Office Jobs</button>{{/link}}
        {{#link href="/tag/advocacy-projects"}}<button type="button">Advocacy</button>{{/link}}        
        {{#link href="/tag/performance-talks"}}<button type="button">Performance & Talks</button>{{/link}}        
        {{#link href="/tag/technical-projects"}}<button type="button">Technical Projects</button>{{/link}}        
        {{#link href="/tag/event-planning"}}<button type="button">Event Planning</button>{{/link}}
    </div>


