<div class="gh-container">
    <div class="gh-postfeed">        
        {{#if postlimit}}            
            {{#foreach posts limit=postlimit }}
                {{> "card" page=../pagination.page }} {{!-- partials/card.hbs --}}
            {{/foreach}}           
        {{else}}
            {{#foreach posts}}
                {{> "card" page=../pagination.page }} {{!-- partials/card.hbs --}}
            {{/foreach}}
        {{/if}}        
    </div>

    {{!-- If JS isn't enabled, fallback to standard pagination --}}
    <noscript>
        <div class="gh-pagination">
            {{pagination}}
        </div>
    </noscript>
</div>

