{{!< default}}

<div class="gh-page">
    <h1>Maggie is <span id="randWord">...</span>.</h1>
    <div><button id="randWordButton">You decide.</button></div> 
    <div><button id="addSlashButton">Add a slash?</button></div> 


    <div class="gh-container">
        <div class="gh-postfeed">
        {{#foreach posts}}

            {{> "card" page=../pagination.page }} {{!-- partials/card.hbs --}}

        {{/foreach}}
        </div>

        {{!-- If JS isn't enabled, fallback to standard pagination --}}
        <noscript>
            <div class="gh-pagination">
                {{pagination}}
            </div>
        </noscript>
    </div>
</div> 