{{!< default}}
<div class="gh-page">
    <header class="gh-header gh-canvas pb-0">
        <h1 class="gh-title">Portfolio</h1>
    </header>
    
    {{> "category-buttons" }}
    

    {{> "postlister" postlimit="40"}}

</div>